*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* TOP  */
#top{
    height: 50px;
    width: 100%;
}

nav{
    height: 100%;
}

[alt~="mobile-logo"]{
    height: 50px;
}


/* BOTTOM  */
#bottom{
    height: calc(100vh - 50px);
    width: 100%;
    display: flex;
}

.side-bar{
    height: 100%;
    width: 100px;
    background-color: darkblue;
    background-image: url(/img/sidebar-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.main-bar{
    height: 100%;
    width: calc(100vw - 100px);
    overflow-y: auto;
}

/* HEADER  */
header{
    background-color: blue;
}


/* MAIN  */
td:first-child{
    width: 40%;
}


/* UTILITIES */


/* MEDIA QUERIS  */
@media screen and (max-width:768px){
    .side-bar{
        width: 40px;
    }

    .main-bar{
        width: calc(100vw - 40px);
    }
}

