*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* TOP  */
#top{
    height: 50px;
    width: 100%;
    background-color: brown;
}


/* BOTTOM  */
#bottom{
    height: calc(100vh - 50px);
    width: 100%;
    display: flex;
}

.side-bar{
    height: 100%;
    width: 100px;
    background-color: darkblue;
}

.main-bar{
    height: 100%;
    width: calc(100vw - 100px);
    overflow-y: auto;
}

/* HEADER  */
header{
    background-color: blue;
    height: 75px;
}

[alt~="logo"]{
    width: 100%;
}

/* MAIN  */
td:first-child{
    width: 40%;
}


/* UTILITIES */

.content-header{
    height: 50px;
    background-color: red;
}


@media screen and (max-width:768px){
    .side-bar{
        width: 40px;
    }

    .main-bar{
        width: calc(100vw - 40px);
    }
}

